# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
target/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Gradle #
.gradle
 
# Package Files #
*.jar
*.war
*.ear

#InteliJ
.idea/
*.iml

# I dont want also these projects
CurrencyReader
